.App {
  background-image: url(../images/dave-hoefler-eYJwtMpuhJQ-unsplash.jpg);
  position: fixed;
  min-height: 100vh;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  
}


.App-header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 50%;
  margin: 5px;
  font-size: calc(5px + 2vmin);  
 }





.home {
  color: red;
  
  }
  
.bio{
  color: purple;
  
  }

.tour {
  color: green;
 
  }
.news {
  color: hotpink;
  
  }
.merch {
  color: blue;
 
  }

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
  border: solid 3px black; 
 
 
 }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 3%;
  border: solid 3px red; 
}



.item {
  list-style: none;
  margin-left: 2rem;
}

 .nav {
   font-size: 2rem;
   margin-right: 3rem;
   display: flex;
   
 }