.App {
  background-image: url(./images/dave-hoefler-eYJwtMpuhJQ-unsplash.jpg);
  position: fixed;
  min-height: 100vh;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  border: solid 3px red; 
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border: solid 3px purple;  
}


.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: #282c34; */
  /* min-height: 10vh;
  width: 50%;
  
  
  
  justify-content: space-around;
  font-size: calc(5px + 2vmin); */
  border: solid 3px red; 
}





.home {
  color: red;
  text-decoration: none;
  
 

  /* border: solid 3px red; */

}
.bio{
  color: purple;
  text-decoration: none;
 
  /* border: solid 3px red; */

}
.tour {
  color: green;
  text-decoration: none;
  /* border: solid 3px red; */

}
.news {
  color: hotpink;
  text-decoration: none;
  /* border: solid 3px red; */

}
.merch {
  color: blue;
  text-decoration: none;
  /* border: solid 3px red; */

}

.body {
 
  border: solid 3px black; 
  display: flex;
  /* flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: 50%; */
  /* min-height: 50vh;
  margin-left: 27%; */
  /* padding: 10px 10px;
  position: absolute; */
 }
.footer {
  display: flex;
  /* justify-content: center;
  height: 100%;
  width: 30%;*/
  border: solid 3px red; 
}

/* .golden-nugget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10%;
  width: 20%; 
  
}*/


 