.App {
  text-align: center;
  background-image: url(./images/dave-hoefler-eYJwtMpuhJQ-unsplash.jpg);
  position: fixed;
  min-height: 100vh;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  /* border: solid 3px red; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 10vh;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(5px + 2vmin);
  /* border: solid 3px red; */
}



.main {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  /* border: solid 3px purple; */
}

.home {
  color: red;
  text-decoration: none;
  
 

  /* border: solid 3px red; */

}
.bio{
  color: purple;
  text-decoration: none;
 
  /* border: solid 3px red; */

}
.tour {
  color: green;
  text-decoration: none;
  /* border: solid 3px red; */

}
.news {
  color: hotpink;
  text-decoration: none;
  /* border: solid 3px red; */

}
.merch {
  color: blue;
  text-decoration: none;
  /* border: solid 3px red; */

}

.body {
 
  border: solid 3px black; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  min-height: 100vh;
  margin-left: 27%;
  padding: 20px 20px;
  /* border-image-source: url(./images/ropeborder.jpg)  ;
  border-image-slice: 23%;
  border-image-width: 25%;
  border-image-outset: 50%;
  border-image-repeat: round; */
  
  
}
.footer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 40%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 